{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'simulator/landing.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Stalinist+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/simulator/favicon.ico"/>
    <title>Crypto-Sim</title>
</head>
<body>
        <div id="transparent-box">
            <h1 id="crypto-sim-logo">CRYPTO_SIM</h1>
            <br><br><br>
            <h3><u><i>Invest the Smart Way</i></u></h3>
            <br><br>
            <div id="bullet-points">
                <ul>
                    <li><p>Crypto-Sim is a <u>free</u> platform where you can experiment with Cryptocurrency investment.</p></li>
                    <li><p>Simulate trading with the most popular Cryptocurrencies, and track the progress of your portfolio over time.</p></li>
                    <li><p>Stay up to date with the latest Crypto & BlockChain news</p></li>
                    <li><p>Crypto-Sim utilises live market data from IEX Cloud and Nomics API to provide you with the real investment experience</p></li>
                </ul>
            </div>
            <br><br><br>
            <p> 
                Sign up for a free account now!
            </p>

            <a class="btn btn-success" href="{% url 'register' %}" role="button">Sign Up</a>
            <a class="btn btn-success" href="{% url 'login' %}" role="button">Log In</a>
    </div>  
    
</body>
</html>