{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block stylesheet %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/simulator/favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <ul class="navigation-bar">
    <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="{% url 'browse' %}" class="nav-link">Browse Crypto</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li> 
  </ul>
    {% block body %}
    {% endblock %}
  <footer>
    <span><p id="footer-author-info">Cormac Larkin 2021</p></span>
    <span><p id="footer-attribution">Crypto Market Cap & Pricing Data Provided By <u><a style="color: rgb(163, 163, 163);" href="https://www.nomics.com">Nomics</a></u> and <u><a style="color: rgb(163, 163, 163);" href="https://www.iexcloud.io">IEX Cloud</a></u></p></span>
    <span><p id="footer-github"><a style="color: rgb(163, 163, 163);" href="https://github.com/cormac-larkin/Crypto_Simulator/">Github Repository</a></p></span>
  </footer>
    {% block script %}
    {% endblock %}

</body>
</html>