/* The following selectors are shared across all pages that use this stylesheet */

* {
    font-family: 'Roboto', sans-serif;
    color: rgb(228, 225, 225);
}

body {
    background: url(background.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1%;
    background-color: rgb(79, 80, 82, 0.9);
    border-radius: 15px;
}

body {
    background-color: rgb(65, 66, 68);
}

footer {
    background-color: rgb(37, 37, 37);
    clear: both;
    border-top-width: 1px;
    border-top-color: rgb(4, 146, 4);
    border-top-style: solid;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
}

#footer-author-info, #footer-github, #footer-attribution {
    display: inline-block;
    margin-right: 20px;
    color: dimgray;
}

#footer-attribution {
    padding-left: 21%
}

#footer-github {
    float: right;
}



/* The following selectors are for the navbar */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation-bar {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1;
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}
  
.nav-item .nav-link {
    float: left;
}
  
.nav-link {
    display: inline-block;
    color: rgb(228, 225, 225);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.nav-item:last-child {
      float: right;
}
  
li a:hover {
    background-color: rgb(34, 146, 58);
}

/* The following selectors are for use on the 'browse' page */
#browse-header {
    background: url(landing.jpg) center; 
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 173, 173);
}

.browse-stat-list, .legend-headers {
    display: inline-flex;
    padding-top: 5px;
    padding-left: 20px;
    transform: translateY(25%);
}

.legend-headers {
    padding-left: 80px;
    transform: translateY(0%);

}

th {
    width: 250px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
}

td {
    width: 250px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
}

.price-header {
    text-align: center;
}

.price {
    text-align: center;
    width: 200px;
    animation: pulse 5s infinite;
    border-radius: 10px;
}


/* The following selectors are for use on the 'coin-info' page */
#logo-img {
    padding-top: 5px;
}

#info-header {
    text-align: center;
}

.banner-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.live-price-banner {
    animation: pulse 3s infinite;
    border-radius: 15px;
    margin-left: 120px;
    margin-right: 120px;
}

@keyframes pulse {
    0% {
      background-color: rgb(255, 217, 0);
      color: black;
    }
    50% {
      background-color: #FF4136;
      color: black;
    }
    100% {
      background-color: rgb(255, 217, 0);
      color: black;
    }
}

#chart-container {
    height: 500px;
    width: 100%;
}

#info-tab {
    float: left;
    width: 55%;
}

#info-tab-title {
    text-align: center;
}

.stat-container {
    background-color: rgb(41, 39, 39);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.stat {
    text-align: left;
    background-color: rgb(41, 39, 39);
}

.stat-info {
    background-color: rgb(41, 39, 39);
    float: right;
}

.stat-container:hover {
    background-color: rgb(34, 146, 58);
}

.stat-container:hover > .stat {
    background-color: rgb(34, 146, 58);
}

.stat-container:hover > .stat-info {
    background-color: rgb(34, 146, 58);
}

#trade-form-tab {
    float: right;
    width: 43%;
}

#trade-form {
    text-align: center;
}

#trade-form-title {
    text-align: center;
}

#trade-type-selector, .options, #trade-value-field {
    background-color: rgb(41, 39, 39);
    color: white;
    border-radius: 10px;
    text-align: center;
}

#trade-submit-btn {
    border-radius: 10px;
    float: none;
}


/* The following selectors are for the dashboard page */

#portfolio-header {
    background: url(landing.jpg) center; 
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 173, 173);
}

#dashboard-welcome-banner {
    text-align: center;
    text-decoration: underline;
}

#no-investments {
    text-align: center;
    padding-top: 15%;
}

#welcome-gift {
    color: rgb(34, 146, 58);
}

#welcome-back {
    text-align: center;
    background-color: rgb(54, 134, 58);
    border-radius: 5px;
    padding-top: 7px;  
    padding-bottom: 7px;
}

#outer-chart-container {
    background-color: rgb(49, 49, 49);
    height: 450px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    margin-bottom: 1%;
}

#portfolio-overview {
    background-color: rgb(54, 88, 90);
    border-radius: 15px;
    width: 30%;
    height: 70%;
    margin-left: 10px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    float: left;
    text-align: center;
}

#portfolio-overview-stats {
    text-align: left;
}

#my-funds {
    background-color: rgb(172, 142, 43);
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#account-balance {
    text-align: center;
    float: left;
    margin-left: 30px;
    width: 15%;
    height: 70%;
    background-color: rgb(54, 88, 90);
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
}

#withdraw-btn {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

#pie-chart-container {
    height: 440px;
    width: 50%;
    float: right;
    background-color: rgb(54, 88, 90);
    border-radius: 15px;
}

#pie-chart-header {
    background-color: rgb(189, 61, 45);
    text-align: center;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#pieChart {
    border-radius: 25px;
}

#toolbar {
    background-color: rgb(54, 88, 90);
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    float: left;
}

#toolbar-logout-btn, #leaderboard-btn, #account-settings-btn, #trade-history-btn {
    float: none;
}

#toolbar-logout-btn {
    margin-left: 98px;
    margin-right: 5px;
}

#portfolio-overview-price {
    animation: pulse 5s infinite;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.portfolio-item {
    clear: both;
    padding-top: 1%;
    padding-bottom: 3%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(79, 80, 82, 0.9);
    border-radius: 15px;
}

.portfolio-item-logo {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.portfolio-item-price-banner-container {
    width: 30%;
    text-align: center;
}

.portfolio-item-price-banner {
    animation: pulse 5s infinite;
    border-radius: 15px;
    margin-left: 130px;
    margin-right: 130px;
}

.portfolio-chart-container {
    height: 250px;
    width: 90%;
}

.total-invested, .all-time-profit {
    background-color: rgb(34, 146, 58);
    text-align: center;
    background-color: rgb(41, 39, 39);
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 5px;
    width: 38%;
}

.portfolio-stats {
    width: 60%;
    float: left;
}

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.total-invested, .all-time-profit {
    display: inline-block;
}

.btn-success, .btn-danger {
    float: right;
    margin-right: 10px;
}

.btn-danger {
    margin-right: 40px;
}






