html {
    background-color: rgb(0, 0, 0);
}

.jumbotron {
    background-color:  rgb(0, 0, 0);
    color: lawngreen;
}

form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}